<p-growl [value]="msgs"></p-growl>

<h3>{{message}}</h3>

<p-panel *ngIf="showInvite" header="Reservation invite" >
    <p> 
      You have been invited to join your friend 
     <b> {{inviteData.originator.firstName}} {{inviteData.originator.lastName}} ({{inviteData.originator.username}}) </b>
     on the table reservations he made.
    </p>
    <p>
      Restaurant name: <b> {{inviteData.reservation.table_id.restaurant_zone_id.restaurant.name}} </b>
    </p>
    <p>
      Restaurant zone: <b> {{inviteData.reservation.table_id.restaurant_zone_id.name}} </b>
    </p>
   <p>
      Start time: <b> {{getDate(inviteData.reservation.startDate)}} </b>
    </p>
    <button pButton type="button" class="ui-button-success" (click)="acceptInvite()" routerLink="" icon="fa-check" label="Accept"></button> 
    <button pButton type="button" class="ui-button-danger" (click)="declineInvite()" routerLink="" icon="fa-times" label="Decline"></button>
</p-panel>

