
<h1 class="page-header">{{title}}</h1>
<div class="row">
  <!-- left column -->
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="text-center">
      <img src="http://lorempixel.com/200/200/people/5/" class="avatar img-circle img-thumbnail" alt="avatar">
    </div>
    <p>First name: {{user.firstName}}</p>
    <p>Last name: {{user.lastName}}</p>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
  </div>
  <!-- edit form column -->
  <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
  <ul class="nav nav-tabs">
    <li class="active"><a>Friends</a></li>
    <li><a (click)="fillForm($event)">Edit profile</a></li>
  </ul>
  </div>
  <div *ngIf="isEdit" class="col-md-8 col-sm-6 col-xs-12 personal-info">
    <h3>Personal info</h3>
    <form [formGroup]="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" formControlName="firstName" [(ngModel)]="userUpdate.firstName" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" formControlName="lastName" [(ngModel)]="userUpdate.lastName" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Email:</label>
        <div class="col-lg-8">
          <input class="form-control" formControlName="email" [(ngModel)]="userUpdate.email" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Username:</label>
        <div class="col-md-8">
          <input class="form-control" formControlName="username" [(ngModel)]="userUpdate.username" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Password:</label>
        <div class="col-md-8">
          <input class="form-control" formControlName="password" [(ngModel)]="userUpdate.password" type="password">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Confirm password:</label>
        <div class="col-md-8">
          <input class="form-control" formControlName="confirmPassword" [(ngModel)]="userUpdate.password" type="password">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button class="btn btn-primary" (click)="updateUser()">Save Changes</button>
          <span></span>
          <button class="btn btn-default" (click)="isEdit=false">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>


<!--
  This is an alert, maybe I'll need it somewhere..
<div class="alert alert-info alert-dismissable">
  <a class="panel-close close" data-dismiss="alert">×</a>
  <i class="fa fa-coffee"></i> This is an <strong>.alert</strong>. Use this to show important messages to the user.
</div>-->