
<h1 class="page-header">{{title}}</h1>
<div class="row">
  <!-- left column -->
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div>
      <img src="http://lorempixel.com/200/200/people/5/" class="avatar img-circle img-thumbnail" alt="avatar">
    </div>
    <h3>{{user.firstName}} {{user.lastName}}</h3>
    <h4>Username: {{user.username}}</h4>
    <h4>Email: {{user.email}}</h4>
    <button type="text" (click)="showEditProfileDialog()" pButton icon="fa-pencil-square-o" label="Edit profile"></button>
    <button type="text" (click)="showChangePasswordDialog()" pButton icon="fa-key" label="Change password"></button>
    <button *ngIf="_sharedService.isManager" pButton type="button" 
            icon="fa-american-sign-language-interpreting" (click)="new_restaurant_dialog()"
            label="Register New Restaurant" >
    </button>
    <button *ngIf=" _sharedService.isAdmin == false && _sharedService.isManager == false && _sharedService.isDeliverer == false
                   && _sharedService.isChef == false && _sharedService.isBartender == false && _sharedService.isWaiter == false" 
                   pButton type="button" icon="fa-automobile" label="Request Registry as Deliverer"
             (click)="register_as_deliverer()"
            pTooltip="If you wish to register as a deliverer, an existing manager must accept your request.
                      If you are employed as a worker in a restaurant, your request for deliverer status will be
                      denied automatically. Once you become a deliverer you cannot be employed in a restaurant.">
    </button>
  </div>

  <div class="col-md-8 col-sm-6 col-xs-12">
  <p-tabView>
    <p-tabPanel header="Friends" leftIcon="fa-user-plus">
       <p-accordion [multiple]="true" (onClose)="accordion_closed($event)" (onOpen)="accordion_opened($event)">
         <p-header>
             SoulFoodApp Network
          </p-header>
          <p-accordionTab header="Find new people">
              <button pButton type="button" (click)="stackedFindNewPeople = !stackedFindNewPeople" style="margin-bottom:10px" label="Change view" icon="fa-list"></button>
              <p-dataTable [value]="allUsers" [responsive]="true" [stacked]="stackedFindNewPeople" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                  <p-column *ngFor="let col of allUsersCols" [field]="col.field" [filter]="true" filterPlaceholder="Search" [header]="col.header"></p-column>
                  <p-column styleClass="col-button">
                      <template pTemplate="header">
                          <header>Add a friend</header>
                      </template>
                      <template let-user="rowData" pTemplate="body">
                          <button type="button" label="Send request" class="ui-button-success" (click)="sendFriendRequest(user)" pButton style="float:center; width: 100%;" icon="fa-user-plus" iconPos="left"></button>
                      </template>
                  </p-column>
              </p-dataTable>
          </p-accordionTab>
          <p-accordionTab header="My friends">
              <button pButton type="button" (click)="stackedMyFriends = !stackedMyFriends" style="margin-bottom:10px" label="Change view" icon="fa-list"></button>
              <p-dataTable [value]="allUsersFriendships" [responsive]="true" [stacked]="stackedMyFriends" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                  <p-header> All friends </p-header>
                  <p-column *ngFor="let col of allUsersFriendshipsCols" [field]="col.field" [filter]="true" filterPlaceholder="Search" [header]="col.header"></p-column>
                  <!--<p-column field="status" header="Status" [filter]="true" [sortable]=true [style]="{'overflow':'visible'}" filterMatchMode="equals">
                    <template pTemplate="filter" let-col>
                        <p-dropdown [options]="statusFilters" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                    </template>
                </p-column> -->
                <p-column styleClass="col-button">
                      <template pTemplate="header">
                          <header>Remove from friends</header>
                      </template>
                      <template let-friendship="rowData" pTemplate="body">
                          <button type="button"  label="Unfriend" class="ui-button-warning" (click)="removeFromFriends(friendship)" pButton style="float:center; width: 100%;" icon="fa-times" iconPos="left"></button>
                      </template>
                </p-column>
              </p-dataTable>
          </p-accordionTab>
          <p-accordionTab header="Notifications">
                <p-dataTable [value]="allFriendRequests" [responsive]="true" [stacked]="true" [rows]="5"  [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                  <p-header> Active notifications </p-header>
                  <p-column *ngFor="let col of allFriendRequestsCols" [field]="col.field" [filter]="true" filterPlaceholder="Search" [header]="col.header"></p-column>
                  <p-column styleClass="col-button">
                      <template pTemplate="header">
                          <header>Requests pending</header>
                      </template>
                      <template let-friendship="rowData" pTemplate="body">
                          <button type="button"  label="Accept friendship" class="ui-button-success" (click)="respondFriendRequest(friendship, 1)" pButton style="float:center" icon="fa-user-plus" iconPos="left"></button>
                          <button type="button"  label="Decline friendship" class="ui-button-danger" (click)="respondFriendRequest(friendship, 0)" pButton style="float:center" icon="fa-user-times" iconPos="left"></button>
                      </template>
                  </p-column>
              </p-dataTable> 
          </p-accordionTab>

          <!--REGISTERING RESTAURANTS NOTIFICATIONS-->
            <!--FOR ADMIN TO SEE NEW REGISTRIES-->
            <!--FOR MANAGER TO SEE STATUS ON REGISTRIES -->
          <p-accordionTab *ngIf="_sharedService.isAdmin || _sharedService.isManager" header="Restaurant Registry">
            
            <!--ADMIN DATA-->
            <p-dataTable *ngIf="_sharedService.isAdmin" [value]="visible_registries_admin" [responsive]="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20,25,30]">
              <p-header>Pending Restaurant Registrations</p-header>
              <p-column field="id" header="ID"></p-column>
              <p-column field="restaurant_name" header="Restaurant Name"></p-column>
              <p-column field="type" header="Restaurant Type"></p-column>
              
              <!--ADMIN ACCEPT/DECLINE ACTIONS-->
              <p-column styleClass="col-button">
                 <template pTemplate="header">
                          <header>Available Actions</header>
                      </template>
                      <template let-registry="rowData" pTemplate="body">
                          <button type="button" label="Accept" class="ui-button-success" (click)="accept_restaurant(registry.id)" pButton style="width: 100%;" icon="fa-check"></button>
                          <button type="button" label="Decline" class="ui-button-danger" (click)="decline_restaurant(registry.id)" pButton style="width: 100%;" icon="fa-close"></button>
                      </template>

              </p-column>
            </p-dataTable>

            <!--MANAGER DATA-->
            <p-dataTable *ngIf="_sharedService.isManager" [value]="visible_registries_manager" [responsive]="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20,25,30]">
              <p-header>Registry Status</p-header>
              <p-column field="id" header="ID"></p-column>
              <p-column field="restaurant_name" header="Restaurant Name"></p-column>
              <p-column field="type" header="Restaurant Type"></p-column>

              <!--RESTAURANT STATUS-->
              <p-column class="col-button">
                <template pTemplate="header">
                  <header>Registry Status</header>
                </template>
                <template let-registry="rowData" pTemplate="body">
                  <button *ngIf="registry.status == 'PENDING'" type="button" label="Pending" class="ui-button-warning" pButton pButton style="width: 100%;" icon="fa-hourglass-half"></button>
                  <button *ngIf="registry.status == 'ACCEPTED'" type="button" label="Accepted" class="ui-button-success" pButton pButton style="width: 100%;" icon="fa-check" ></button>
                  <button *ngIf="registry.status == 'DECLINED'" type="button" label="Declined" class="ui-button-danger" pButton pButton style="width: 100%;" icon="fa-close" ></button>
                  <button *ngIf="registry.status != 'PENDING'" type="button" label="OK" class="ui-button-info" pButton pButton style="width: 100%;" (click)="disband_row(registry.id)"></button>
                </template>
              </p-column>
            </p-dataTable>

          </p-accordionTab>

          <!--============================================================-->
          <!--=================DELIVERER THINGS-->
          <!--============================================================-->
          <p-accordionTab *ngIf="_sharedService.isDeliverer" header="Deliveries And Orders">
            
            <!--ALL AVAILABLE ORDERS-->
            <p-dataTable [value]="free_orders_presentation" sortField="belongs_to_order" 
                         rowGroupMode="subheader" groupField="belongs_to_order" 
                         expandableRowGroups="true" [sortableRowGroup]="false"
                         [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
              <p-header><h5>Available Orders</h5></p-header>
              <!--EXPANDABLE ROW TAB NAME-->
              <template pTemplate="rowgroupheader" let-rowData>
                <b>Order Id : </b><i>{{rowData['belongs_to_order']}}</i>, <b>Order Time Period : </b><i>[{{rowData['from']}} - {{rowData['to']}}]</i>
              </template>
              <p-column field="item_name" header="Item Name"></p-column>
              <p-column field="item_amount" header="Amount of Items"></p-column>
              <template pTemplate="rowgroupfooter" let-item>
                <td colspan="2">
                  <button pButton icon="fa-dollar"
                          label="Enter Bid" (click)="enter_bid_dollars(item)" 
                          style="width:100%" type="button"></button>
                </td>
              </template>
            </p-dataTable><br/>
            
            <!--DIALOG TO ENTER THE BID-->
            <p-dialog header="Enter Bid" [(visible)]="entering_bid" modal="modal" width="300" responsive="true">
              <div class="ui-g">
                <div class="ui-g-10">
                  <input pInputText type="text" placeholder="Your bid in dollars..." 
                         pTooltip="Must be greater than 0." (keyup)="bid_entered_keyup()"
                         [(ngModel)]="bid_in_dollars"/>
                </div>
                <div class="ui-g-2">
                  <button pButton icon="fa-dollar"></button>
                </div>
                <!--DATE OF DELIVERY-->
                <div class="ui-g-12"><h5>Date of Delivery</h5></div>
                <div class="ui-g-12">
                  <p-calendar [(ngModel)]="date_of_delivery" 
                              [minDate]="min_date_of_delivery" [maxDate]="max_date_of_delivery" [readonlyInput]="true" 
                              [showTime]="true"></p-calendar>
                </div>
                <div class="ui-g-12">
                  <button pButton icon="fa-check" label="Submit Bid!" (click)="bid_submitted()" style="width:100%;"
                          [disabled]="!bid_valid"></button>
                </div>
              </div>
            </p-dialog>

            <!--STATUS AND NOTIFICATIONS-->
            <p-dataTable [value]="not_seen_bid_statuses"
            [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
              <p-header><h5>Bid Status</h5></p-header>
              <p-column field="id" header="Bid ID"></p-column>
              <p-column field="bidding_price" header="Price ($)"></p-column>
              <p-column field="made_for_order.id" header="For Order"></p-column>
              <p-column field="date_of_delivery" header="Delivery Date"></p-column>
              <p-column styleClass="col-button">
                <template pTemplate="header">Status</template>
                <template let-item="rowData" pTemplate="body">
                  <div *ngIf="item.bid_status == 'PENDING'">
                    <button pButton label="PENDING" style="width:100%;" icon="fa-hourglass-half" class="ui-button-warning"></button>
                  </div>
                  <div *ngIf="(item.bid_status != 'PENDING' )">
                    <button *ngIf="item.bid_status == 'ACCEPTED'" pButton label="ACCEPTED !" style="width:100%" icon="fa-check" class="ui-button-success"></button>
                    <button *ngIf="item.bid_status == 'DECLINED'" pButton label="DECLINED !" style="width:100%" icon="fa-close" class="ui-button-danger"></button>
                    <button *ngIf="item.bid_status == null" pButton label="EXPIRED" style="width:100%" icon="fa-hourglass-half" class="ui-button-danger"></button>
                    <button pButton label="OK" class="ui-button-info" style="width:100%;" (click)="dismiss_order_notification(item)"></button>
                  </div>
                </template>
              </p-column>
            </p-dataTable>

            <!--ALL ORDER BIDS EVER-->
            <p-dataTable [value]="all_deliverer_bids"
            [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
              <p-header><h5>All Bids and Deliveries Ever</h5></p-header>
              <p-column field="id" header="Bid ID"></p-column>
              <p-column field="bidding_price" header="Price Bid ($)"></p-column>
              <p-column field="made_for_order.id" header="Made For Order"></p-column>
              <p-column field="date_of_delivery" header="Delivery Date"></p-column>
              <p-column styleClass="col-button">
                <template pTemplate="header">Outcome</template>
                <template let-item="rowData" pTemplate="body">
                    <button pButton *ngIf="item.bid_status == 'PENDING'" label="PENDING" style="width:100%;" class="ui-button-info"></button>
                    <button pButton *ngIf="item.bid_status == 'DECLINED'" label="DECLINED" style="width:100%;" class="ui-button-info"></button>
                    <button pButton *ngIf="item.bid_status == 'ACCEPTED'" label="ACCEPTED" style="width:100%;" class="ui-button-info"></button>
                    <button pButton *ngIf="item.bid_status == null" label="EXPIRED" style="width:100%;" class="ui-button-info"></button>
                  </template>
              </p-column>
            </p-dataTable>

          </p-accordionTab>

        </p-accordion>
    </p-tabPanel>
    <!--HISTORY TAB-->
    <p-tabPanel header="History" leftIcon="fa-history">
       <p-dataTable [value]="restaurantVisitHistory" [responsive]="true" [stacked]="true" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
              <p-header> Restaurant visit history </p-header>
                  <p-column *ngFor="let col of restaurantVisitHistoryCols" [field]="col.field" [filter]="true" filterPlaceholder="Search" [header]="col.header"></p-column>
                  <p-column styleClass="col-button">
                    <template pTemplate="header">
                        <header>Date and time</header>
                    </template>
                    <template let-reservationCall="rowData" pTemplate="body">
                        {{getDate(reservationCall)}}
                    </template>
                </p-column>
                  <p-column styleClass="col-button">
                      <template pTemplate="header">
                          <header>Rate restaurant</header>
                      </template>
                      <template let-reservationCall="rowData" pTemplate="body">
                          <button type="button" label="Rate" class="ui-button-success" (click)="rateClick(reservationCall)" pButton style="float:center; width: 100%;" icon="fa-star-o" iconPos="left"></button>
                      </template>
                  </p-column>
              </p-dataTable>
    </p-tabPanel>
  </p-tabView>
  </div>
</div>

<!--REGISTER NEW RESTAURANT DIALOG-->
<p-dialog header="Register New Restaurant" [responsive]=true [resizable]=false
          [draggable]=false width="800" [modal]=true [(visible)]="new_restaurant_dialog_showing">
          <div class="ui-g">
              <!--RESTAURANT NAME -->
              <div class="ui-g-4">
                <b>Restaurants Name :</b> 
              </div>
              <div class="ui-g-4">
                <i><input type="text" (keyup)="restaurant_name_changed()" pInputText [(ngModel)]="restaurant_name_input"/></i><br/>
              </div>
              <div class="ui-g-4">
                <!--INVALID RESTAURANT NAME...-->
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!restaurant_name_valid">
                    <i class="fa fa-close"></i>
                    <span>Invalid input!</span>
                </div>
              </div>

              <!--RESTAURANT TYPE-->
            <div class="ui-g-4">
              <b>Restaurant Type : </b> 
            </div>
            <div class="ui-g-8">
              <i><p-selectButton [options]="restaurant_types" [(ngModel)]="selected_restaurant_type">
                </p-selectButton></i>
            </div>

            <div class="ui-g-12">
              <button pButton type="button"
                      icon="fa-check" label="Accept" [disabled]="!restaurant_name_valid"
                      (click)="register_new_restaurant()" style="width:100%"></button>
            </div>

          </div>
</p-dialog>


<!-- Edit profile dialog -->
<p-dialog header="Edit profile" [responsive]=true [resizable]=false [draggable]=false width="500" [modal]=true [(visible)]="displayEditProfile">
    <h3>Personal info</h3>
    <form [formGroup]="formEditUser" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
          <label class="control-label">First name:</label>
          <input class="form-control" formControlName="firstName" [(ngModel)]="userUpdate.firstName" type="text">
        </div>
      </div>
      <div class="form-group">
         <div class="col-lg-12">
          <label class="control-label">Last name:</label>
          <input class="form-control" formControlName="lastName" [(ngModel)]="userUpdate.lastName" type="text">
        </div>
      </div>
      <div class="form-group">
         <div class="col-lg-12">
          <label class="control-label">Username:</label>
          <input class="form-control" formControlName="username" [(ngModel)]="userUpdate.username" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button pButton [disabled]="!formEditUser.valid" class="ui-button-success" type="text" (click)="updateUser()" icon="fa-check" label="Save changes"></button>
          <span></span>
          <button pButton class="ui-button-danger" type="text" (click)="displayEditProfile=false" icon="fa-close" label="Cancel"></button>
        </div>
      </div>
    </form>
</p-dialog>

<!-- Change password dialog -->
<p-confirmDialog icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!-- Warning message for Facebook/Google signed users trying to change password -->
<p-growl [value]="msgs"></p-growl>

<!--RATE DIALOG-->
<p-dialog header="Restaurant rating" [responsive]=true [resizable]=false [draggable]=false [modal]=true [(visible)]="showRateDialog">
    <h3 class="first">Restaurant: {{restaurantRate}}</h3> 
    <p-rating [(ngModel)]="restaurantRate"></p-rating>
    <h3 class="first">Waiter: {{waiterRate}}</h3> 
    <p-rating [(ngModel)]="waiterRate"></p-rating>
    <h3 class="first">Food: {{foodRate}}</h3> 
    <p-rating [(ngModel)]="foodRate"></p-rating>
    <div class="ui-g-12">
          <button pButton class="ui-button-success" type="text" (click)="confirmRates()" icon="fa-check" label="Confirm rates"></button>
          <button pButton class="ui-button-danger" type="text" (click)="showRateDialog=false" icon="fa-close" label="Cancel"></button>
    </div>
</p-dialog>

<!-- Old password changing

<p-dialog header="Change password" [responsive]=true [resizable]=false [draggable]=false width="500" [modal]=true [(visible)]="displayChangePassword">
    <h3>Personal info</h3>
    <form [formGroup]="formChangePassword" class="form-horizontal">
      <div class="form-group">
         <div class="col-lg-12">
          <label class="control-label">New password:</label>
          <input class="form-control" formControlName="password" [(ngModel)]="userPasswordUpdate.password" type="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-12">
          <label class="control-label">Confirm new password:</label>
          <input class="form-control" formControlName="confirmPassword" [(ngModel)]="userPasswordUpdate.confirmPassword" type="password">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button pButton class="ui-button-success" type="text" (click)="updatePassword()" icon="fa-check" label="Change password"></button>
          <span></span>
          <button pButton class="ui-button-danger" type="text" (click)="displayChangePassword=false" icon="fa-close" label="Cancel"></button>
        </div>
      </div>
    </form>
</p-dialog>

-->