
<h1 class="page-header">{{title}}</h1>
<div class="row">
  <!-- left column -->
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div>
      <img src="http://lorempixel.com/200/200/people/5/" class="avatar img-circle img-thumbnail" alt="avatar">
    </div>
    <h3>{{user.firstName}} {{user.lastName}}</h3>
    <h4>Username: {{user.username}}</h4>
    <h4>Email: {{user.email}}</h4>
    <button type="text" (click)="showEditProfileDialog()" pButton icon="fa-pencil-square-o" label="Edit profile"></button>
    <button type="text" (click)="showChangePasswordDialog()" pButton icon="fa-key" label="Change password"></button>
  </div>

  <div class="col-md-8 col-sm-6 col-xs-12">
  <p-tabView>
    <p-tabPanel header="Friends" leftIcon="fa-user-plus">
       <p-accordion [multiple]="true">
         <p-header>
             SoulFoodApp Network
          </p-header>
          <p-accordionTab header="Find new people">
              <button pButton type="button" (click)="stackedFindNewPeople = !stackedFindNewPeople" style="margin-bottom:10px" label="Change view" icon="fa-list"></button>
              <p-dataTable [value]="allUsers" [responsive]="true" [stacked]="stackedFindNewPeople" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                  <p-column *ngFor="let col of allUsersCols" [field]="col.field" [filter]="true" filterPlaceholder="Search" [header]="col.header"></p-column>
                  <p-column styleClass="col-button">
                      <template pTemplate="header">
                          <header>Add a friend</header>
                      </template>
                      <template let-user="rowData" pTemplate="body">
                          <button type="button" label="Send request" class="ui-button-success" (click)="sendFriendRequest(user)" pButton style="float:center; width: 100%;" icon="fa-user-plus" iconPos="left"></button>
                      </template>
                  </p-column>
              </p-dataTable>
          </p-accordionTab>
          <p-accordionTab header="My friends">
              <button pButton type="button" (click)="stackedMyFriends = !stackedMyFriends" style="margin-bottom:10px" label="Change view" icon="fa-list"></button>
              <p-dataTable [value]="allUsersFriendships" [responsive]="true" [stacked]="stackedMyFriends" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                  <p-header> All friends </p-header>
                  <p-column *ngFor="let col of allUsersFriendshipsCols" [field]="col.field" [filter]="true" filterPlaceholder="Search" [header]="col.header"></p-column>
                  <!--<p-column field="status" header="Status" [filter]="true" [sortable]=true [style]="{'overflow':'visible'}" filterMatchMode="equals">
                    <template pTemplate="filter" let-col>
                        <p-dropdown [options]="statusFilters" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                    </template>
                </p-column> -->
                <p-column styleClass="col-button">
                      <template pTemplate="header">
                          <header>Remove from friends</header>
                      </template>
                      <template let-friendship="rowData" pTemplate="body">
                          <button type="button"  label="Unfriend" class="ui-button-warning" (click)="removeFromFriends(friendship)" pButton style="float:center; width: 100%;" icon="fa-times" iconPos="left"></button>
                      </template>
                </p-column>
              </p-dataTable>
          </p-accordionTab>
          <p-accordionTab header="Notifications">
                <p-dataTable [value]="allFriendRequests" [responsive]="true" [stacked]="true" [rows]="5"  [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                  <p-header> Active notifications </p-header>
                  <p-column *ngFor="let col of allFriendRequestsCols" [field]="col.field" [filter]="true" filterPlaceholder="Search" [header]="col.header"></p-column>
                  <p-column styleClass="col-button">
                      <template pTemplate="header">
                          <header>Requests pending</header>
                      </template>
                      <template let-friendship="rowData" pTemplate="body">
                          <button type="button"  label="Accept friendship" class="ui-button-success" (click)="respondFriendRequest(friendship, 1)" pButton style="float:center" icon="fa-user-plus" iconPos="left"></button>
                          <button type="button"  label="Decline friendship" class="ui-button-danger" (click)="respondFriendRequest(friendship, 0)" pButton style="float:center" icon="fa-user-times" iconPos="left"></button>
                      </template>
                  </p-column>
              </p-dataTable> 
          </p-accordionTab>
        </p-accordion>
    </p-tabPanel>
    <p-tabPanel header="History" leftIcon="fa-history">
       History of restaurants visit - in the making.
    </p-tabPanel>
  </p-tabView>
  </div>
</div>

<!-- Edit profile dialog -->
<p-dialog header="Edit profile" [responsive]=true [resizable]=false [draggable]=false width="500" [modal]=true [(visible)]="displayEditProfile">
    <h3>Personal info</h3>
    <form [formGroup]="formEditUser" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
          <label class="control-label">First name:</label>
          <input class="form-control" formControlName="firstName" [(ngModel)]="userUpdate.firstName" type="text">
        </div>
      </div>
      <div class="form-group">
         <div class="col-lg-12">
          <label class="control-label">Last name:</label>
          <input class="form-control" formControlName="lastName" [(ngModel)]="userUpdate.lastName" type="text">
        </div>
      </div>
      <div class="form-group">
         <div class="col-lg-12">
          <label class="control-label">Username:</label>
          <input class="form-control" formControlName="username" [(ngModel)]="userUpdate.username" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button pButton [disabled]="!formEditUser.valid" class="ui-button-success" type="text" (click)="updateUser()" icon="fa-check" label="Save changes"></button>
          <span></span>
          <button pButton class="ui-button-danger" type="text" (click)="displayEditProfile=false" icon="fa-close" label="Cancel"></button>
        </div>
      </div>
    </form>
</p-dialog>

<!-- Change password dialog -->
<p-confirmDialog icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!-- Warning message for Facebook/Google signed users trying to change password -->
<p-growl [value]="msgs"></p-growl>

<!-- Old password changing

<p-dialog header="Change password" [responsive]=true [resizable]=false [draggable]=false width="500" [modal]=true [(visible)]="displayChangePassword">
    <h3>Personal info</h3>
    <form [formGroup]="formChangePassword" class="form-horizontal">
      <div class="form-group">
         <div class="col-lg-12">
          <label class="control-label">New password:</label>
          <input class="form-control" formControlName="password" [(ngModel)]="userPasswordUpdate.password" type="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-12">
          <label class="control-label">Confirm new password:</label>
          <input class="form-control" formControlName="confirmPassword" [(ngModel)]="userPasswordUpdate.confirmPassword" type="password">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button pButton class="ui-button-success" type="text" (click)="updatePassword()" icon="fa-check" label="Change password"></button>
          <span></span>
          <button pButton class="ui-button-danger" type="text" (click)="displayChangePassword=false" icon="fa-close" label="Cancel"></button>
        </div>
      </div>
    </form>
</p-dialog>

-->