<div class="row"  >
  <!-- left column -->
  <div class="col-md-4 col-sm-6 col-xs-12" *ngIf="!showTablesButton && !displayScheduleButton " >
    <h1> Welcome back </h1>

    <p>First name:{{userUpdate.firstName}} </p>
    <p>Last name:{{userUpdate.lastName}} </p>
    <p>Username:{{userUpdate.username}} </p>
    
      
      <p>
          <input class="btn btn-primary" value="Schedule" (click)="displaySchedule()" type="button">
      </p>
  
 <p>
          <input class="btn btn-primary" value="Tables" (click)="showTables()" type="button">

        <p>
          <input class="btn btn-primary" value="EditPersonal" type="button" (click)="showEditDialog()">
 </p>
  </div>



<p-panel *ngIf="displayScheduleButton">
   <h1>Your Schedule</h1>
   <form [formGroup]="formReservation" class="form-horizontal">
     <div class="form-group" style="float: left">
    <p> Please pick date then press schedule button </p>
   <p><p-calendar [(ngModel)]="reservation.Date" formControlName="Date" inputStyleClass="form-control" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2018" [inline]="true"  ></p-calendar></p>
     </div>
      <p>
          <input class="btn btn-primary" value="Schedule" (click)="displaySchedulee()" type="button">
      </p>
   </form>
</p-panel>


<p-dialog header="Schedule" [responsive]=true [resizable]=false [draggable]=false width="1000" [modal]=true [(visible)]="displayScheduleeButton">
<div class="ui-g-8">
            <p-dataTable [value]="all_schedules_for_employee" rows="20" 
                        [paginator]="true" [pageLinks]="5" 
                        [rowsPerPageOptions]="[5,10,20]">
                <p-header>Schedules for waiters:  </p-header>
                    <p-column field="first_name" header="First Name " item-width="50"></p-column>
                    <p-column field="last_name" header="Last Name "></p-column>
                    <p-column field="from" header="From(h) "></p-column>
                    <p-column field="to" header="To (h)"></p-column>
                    <p-column field="date" header="On Date"></p-column>
            </p-dataTable><br/>
        </div>
</p-dialog>


<p-panel *ngIf="showTablesButton && !creating_new_order">


<p-dataGrid  [value]="tables" [paginator]="true" [rows]="8"> 
    
    <!--Datagrid header-->
    <header>
        List of Tables
    </header>
    
    <!--Datagrid data template-->
    <template let-tables pTemplate="item">
   <!--Style of one cell in the datagrid-->
        <div style="padding:3px" class="ui-g-12 ui-md-3">
            <p-panel [header]="tables.id" [style]="{'text-align':'center'}">
                <img [src]="tables.image" (error)="tables.image = '/assets/pictures/no_image_found.jpg'" width="150" height="150"> 
                
                
                <hr class="ui-widget-content" style="border-top:0">
                <i>{{tables.served_by.user.firstName}}</i><br/>
                <i>{{tables.served_by.user.lastName}}</i><br/>
                
                
                <button pButton type="button" label="Take order!" (click)=creatingOrder() icon="fa-edit" ></button>
                <button pButton type="button" label="Money!!!" icon="fa-edit" ></button>
            </p-panel>
        </div>
     
    </template>  
</p-dataGrid><br/>
  </p-panel>

  <!-- edit form column -->
<p-dialog header="Edit personal:" [responsive]=true [resizable]=false [draggable]=false width="1000" [modal]=true [(visible)]="displayEditButton">
  <div class="col-md-8 col-sm-6 col-xs-12 personal-info" >
    <h3>Personal info</h3>
    <form class="form-horizontal" [formGroup]="formEditUser">
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" [(ngModel)]="userUpdate.firstName" formControlName="firstName" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" [(ngModel)]="userUpdate.lastName" formControlName="lastName" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Username:</label>
        <div class="col-md-8">
          <input class="form-control" [(ngModel)]="userUpdate.username" formControlName="username" type="text">
        </div>
      </div>
       <div class="form-group">
        <label class="col-md-3 control-label">Password:</label>
        <div class="col-md-8">
          <input class="form-control" [(ngModel)]="userUpdate.password" formControlName="password" type="password">
        </div>
      </div>
       <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button pButton [disabled]="!formEditUser.valid" class="ui-button-success" type="text" (click)="updateUser()" icon="fa-check" label="Save changes"></button>
        </div>
      </div>
    </form>
  </div>
    </p-dialog>

<!--ORDER  -->

<p-panel *ngIf="creating_new_order" >
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6">
                <h3 style="float: left;"> Creating new order :  </h3>
            </div>
            <div class="ui-g-6">
                <button pButton icon="fa-close" label="Close" style="float: right;height : 100%" (click)="close_new_order_panel()"></button>
            </div>
        </div>
    </p-header>

    <p>Select a product from the data table to include in order.<br/>
   </p><br/>

    <p-dataTable [value]="allFoodProduct" selectionMode="single" 
                [(selection)]="selected_user_for_work" (onRowSelect)="selected_a_user_for_work($event)">
        <p-header>Food</p-header>
        <p-column field="food_name" header="Name"></p-column>
        <p-column field="food_price" header="Price"></p-column>
    </p-dataTable><br/>

     <p-dataTable [value]="allDrinkProduct" selectionMode="single" 
                [(selection)]="selected_user_for_work" (onRowSelect)="selected_a_user_for_work($event)">
        <p-header>Drink</p-header>
        <p-column field="drink_name" header="Name"></p-column>
        <p-column field="drink_price" header="Price"></p-column>
    </p-dataTable><br/>


   

</p-panel>







</div>
