<p-dataGrid [value]="restaurants" [paginator]="true" [rows]="8">
    <header>
        List of Restaurants
    </header>
    <template let-restaurant pTemplate="item">
        <div style="padding:3px" class="ui-g-12 ui-md-3">
            <p-panel [header]="restaurant.name" [style]="{'text-align':'center'}">
                <img src="http://lorempixel.com/150/150/food">
                <div class="restaurant-detail">Restaurant Type : {{restaurant.type}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <i class="fa fa-edit" (click)="editRestaurant(restaurant)" style="cursor:pointer"></i>
            </p-panel>
        </div>
    </template>
</p-dataGrid>

<div [hidden]="!editing">
    <br/>
    <p-panel header="RESTAURANT EDITING" [toggleable]="false">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <button pButton type="button" label="Save Changes" icon="fa-check"></button>
            </div>
            <div class="ui-toolbar-group-right">
                <button pButton type="button" label="Quit Editing" icon="fa-close"></button>
            </div>
        </p-toolbar>

        Restaurant Name : <input type="text" pInputText [(ngModel)]="editingName"/>
        {{editingName}}<br/>
        Restaurant Type : <p-selectButton [options]="restaurantTypes" [(ngModel)]="editingType"></p-selectButton>
        {{editingType}}
        <br/>
    </p-panel>
</div>