<!-- Filtering restaurants -->
<div [hidden]="showRatingsDialog">
    <div class="row">
        <button pButton type="button" class="ui-button-secondary" label="Filter restaurants" style="margin-bottom: 15px" icon="fa fa-filter" (click)="showFilterDialog=true"></button>
        <button *ngIf="showFilterCancelButton" pButton type="button" class="ui-button-danger" pTooltip="Cancel filter" tooltipPosition="bottom" style="margin-bottom: 15px" icon="fa-times" (click)="cancelFilter()"></button>
    </div>
    <div *ngIf="showFilterCancelButton">
        <p> Showing results for: </p>
        <p *ngIf="filterData.restaurantName.trim() != ''"> Name containing: <b>{{filterData.restaurantName.trim()}} </b></p>
        <p *ngIf="filterData.restaurantType != ''"> Type of restaurant: <b>{{filterData.restaurantType}} </b></p>
    </div>
</div>

<p-growl [value]="growl"></p-growl>

<p-dialog header="Filter restaurants" [responsive]=true [resizable]=false [draggable]=false width="500" [modal]=true [(visible)]="showFilterDialog">
    <h3>Filtering info</h3>
    <form [formGroup]="formFilter" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
          <label class="control-label">Restaurant name (contains):</label>
          <input class="form-control" formControlName="restaurantName" [(ngModel)]="filterData.restaurantName" type="text">
        </div>
      </div>
      <div class="form-group">
          <div class="col-md-12">
            <label class="control-label">Type of restaurant:</label>
            <select name="role" class="form-control" formControlName="restaurantType" [(ngModel)]="filterData.restaurantType">
                <option [value]="" selected></option>
                <option *ngFor="let type of restaurantTypes" [value]="type.value">  
                {{type.label}}
                </option>
            </select>
          </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button pButton [disabled]="!formFilter.valid" class="ui-button-success" type="text" (click)="filterRestaurants()" icon="fa-check" label="Apply filter"></button>
          <span></span>
          <button pButton class="ui-button-danger" type="text" (click)="showFilterDialog=false" icon="fa-close" label="Cancel"></button>
        </div>
      </div>
    </form>
</p-dialog>

<!--Reservations dialog-->
<p-dialog header="Table reservation" (onAfterHide)="reservationReset()" [responsive]=true [resizable]=false [draggable]=false width="700" [modal]=true [(visible)]="showReservationDialog">
 
    <div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-4">
            <p-steps [model]="reservationSteps" [activeIndex]="reservationActiveStep" styleClass="steps-basic"></p-steps>
        </div>
    </div>
    <!--Reservation step 1-->
    <div *ngIf="reservationActiveStep==0">
        <h3>Date and time info</h3>
        <form [formGroup]="formReservation" class="form-horizontal">
            <div class="form-group" style="float: left">
                <div class="col-md-12">
                <label class="control-label">Start date and time:</label>
                <p><p-calendar  [(ngModel)]="reservation.startDate" formControlName="startDate" inputStyleClass="form-control" [monthNavigator]="true" [yearNavigator]="true" [minDate]="tminDate" yearRange="2017:2018" [inline]="true" [showTime]="true" ></p-calendar></p>
                </div>
            </div>
            <div class="form-group" >
                <div class="ui-g">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <label class="control-label">End time:</label>
                        <p><p-calendar [(ngModel)]="reservation.endDate" formControlName="endDate" [timeOnly]="true"></p-calendar></p>
                    </div>
                    <div class="ui-g-12"></div>
                    <div class="ui-g-3"></div>
                    <div class="ui-g-6">
                        <label class="control-label">Choose restaurant zone:</label>
                        <select [(ngModel)]="reservation.restaurantZone" formControlName="restaurantZone" style="width: 90%; height: 30px">
                            <option [value]="" selected></option>
                            <option *ngFor="let zone of restaurantZones" [value]="zone.id">  
                                {{zone.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="ui-g">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button pButton style="float: right" [disabled]="!formReservation.valid" (click)="reservationStep1()" class="ui-button-success" type="text"  icon="fa-check" label="Next step"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--Reservation step 2-->
    <div *ngIf="reservationActiveStep==1">
        <b> Choose tables you would like to reserve in {{reservationZoneName}} </b>
         <div class="ui-g" [ngStyle]="{'background-image' : reservationZoneBackgroundImage }" style="height: 300px; width: 650px;">
            <div *ngFor="let table of reservationTables">
                <div *ngIf="table.maxPeople == 2" class="ui-g-1 tableForTwo" id="{{table.id}}" [style.border-color]="tableBorderColor(table)" (click)="tableClicked($event)"></div>
                <div *ngIf="table.maxPeople == 4" class="ui-g-1 tableForFour" id="{{table.id}}" [style.border-color]="tableBorderColor(table)" (click)="tableClicked($event)"></div>
                <div *ngIf="table.maxPeople == 6" class="ui-g-1 tableForSix" id="{{table.id}}" [style.border-color]="tableBorderColor(table)" (click)="tableClicked($event)"></div>
            </div>        
        </div>
       <p><b> Tables selected: </b></p>
       <i *ngFor="let selectedTable of reservationSelectedTables">
           <i *ngIf="selectedTable.selected == true">
                Table id: {{selectedTable.id}} &nbsp;
           </i>
        </i>
        <div class="form-group">
            <div class="ui-g">
                <div class="ui-g-3">
                    <button pButton style="float: left" (click)="reservationBackStep1()" class="ui-button-warning" type="text"  icon="fa-arrow-left" label="Back"></button>
                </div>
                <div class="ui-g-3"></div>
                <div class="ui-g-2"></div>
                <div *ngIf="reservationSelectedTables?.length > 0" class="ui-g-4">
                    <button pButton style="float: right" (click)="reservationStep2()" class="ui-button-success" type="text"  icon="fa-check" label="Make reservation"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Reservation step 3-->
    <div *ngIf="reservationActiveStep==2">
        <h2><b>Thanks for using our table reservation service!</b></h2>
        <p><b>You can invite your friends to join!</b></p>
        <div class="form-group">
            <div class="ui-g">
                <div class="ui-g-3">
                    <button pButton style="float: left" routerLink="/reservations" class="ui-button-info" type="text"  icon="fa-envelope-o" label="Invite friends"></button>
                </div>
                <div class="ui-g-3"></div>
                <div class="ui-g-3"></div>
                <div class="ui-g-3">
                    <button pButton style="float: right" (click)="reservationFinish()" class="ui-button-success" type="text"  icon="fa-check" label="Finish"></button>
                </div>
            </div>
        </div>
    </div>
    <p-progressBar [value]="reservationLoadingBar"></p-progressBar>
</p-dialog>

<!-- Dialog for questions to user -->
<p-confirmDialog icon="fa fa-question-circle" width="425"></p-confirmDialog>

<!-- SHOW LOCATION OF RESTAURANT AASDFASFASDFASDAFSA-->
<p-panel *ngIf="show_global_map">
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Location</span>
             <button pButton type="button" style="float: right" label='Close' class="ui-button-danger" icon='fa-close' (click)="show_global_map=false"></button>
        </div>
    </p-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p-gmap [options]="global_map_options" [overlays]="global_map_overlays"  [style]="{'width':'100%','height':'500px'}"  
                    (onOverlayDragEnd)="handle_drag_end($event)"></p-gmap>
            </div>
        </div>
    </div>
</p-panel>

<p-panel [hidden]="!showRatingsDialog">
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Ratings for <b> {{ratingsTitle}} </b></span>
             <button pButton type="button" style="float: right" label='Close' class="ui-button-danger" icon='fa-close' (click)="showRatingsDialog=false"></button>
        </div>
    </p-header>
     <p-chart #chart type="bar" [data]="ratings"></p-chart>
</p-panel>

<!--DATA GRID OF ALL RESTAURANTS-->
<!--Shown if the user is not editing a restaurant-->
<!--8 Items per page-->
<div class="row" [hidden]="showRatingsDialog || show_global_map">
<p-dataGrid *ngIf="!editing && !editingZones && !editing_something" [value]="restaurants" [paginator]="true" [rows]="8">
    
    <!--Datagrid header-->
    <header>
        List of Restaurants
    </header>
    
    <!--Datagrid data template-->
    <template let-restaurant pTemplate="item">

        <!--Style of one cell in the datagrid-->
        <div style="padding:3px" class="ui-g-12 ui-md-3">
            <p-panel [header]="restaurant.name" [style]="{'text-align':'center'}">
                <img [src]="restaurant.image" (error)="restaurant.image = '/assets/pictures/no_image_found.jpg'" width="150" height="150">
                
                <!--QUICK DETAILS-->
                <hr class="ui-widget-content" style="border-top:0">
                <div class="restaurant-detail">

                    <!--Type of restaurant-->
                    <b>Type : </b><i>{{restaurant.type}}</i><br/>
                    <hr class="ui-widget-content" style="border-top:0">

                    <!--Food types-->
                    <b>Serves : </b><br/>
                    <div *ngIf="restaurant.foodTypes.length == 0">
                        <i>None specified ...</i><br/><br/><br/><br/>
                    </div>
                    <div *ngIf="restaurant.foodTypes.length > 0">
                        <template ngFor let-foodtype="$implicit" [ngForOf]="restaurant.foodTypes" let-i="index">
                            <template [ngIf]="i<3">
                                <i>{{foodtype.name}}</i><br/>
                            </template>
                            <template [ngIf]="i==2 && restaurant.foodTypes.length > 2">
                                <i>And Many More ...</i>
                            </template>
                        </template>
                    </div>
                    
                </div>
                <!-- REPLACE IF NOT A GOOD MANAGER-->
                <hr class="ui-widget-content" style="border-top:0">

<!--==============================================================================-->
<!--================ ACCORDION TO SHOW EDITING OPTIONS-->
<!--==============================================================================-->
                <p-accordion *ngIf="_sharedService.managesRestaurants.indexOf(restaurant.id) != -1">
                    <p-accordionTab header="Options">
                        
                        <!--EDIT RESTAURANT BUTTON-->
                        <button style="width:100%" pButton type="button" label="Edit Restaurant" 
                                icon="fa-edit" (click)="editRestaurant(restaurant)">
                                </button><br/>
                        
                        <!--EDIT ZONES BUTTON-->
                        <button style="width:100%" pButton type="button" label="Edit Zones" 
                                icon="fa-edit" (click)="editZones(restaurant)">
                                </button><br/>

                        <!--CHANGE IMAGE BUTTON-->
                        <button style="width:100%" pButton type="button" label="Change Image"
                                icon="fa-image" (click)="showUploadImageDialog(restaurant.id)"> 
                                </button><br/>
                        
                        <!--ADD NEW MANAGER BUTTON-->
                        <button style="width:100%" pButton type="button" label="Add Manager"
                                icon="fa-user-circle-o" (click)="create_new_manager_clicked(restaurant)" [disabled]=false> 
                                </button><br/>

                        <!--ADD NEW EMPLOYEE BUTTON-->
                        <button style="width:100%" pButton type="button" label="Manage Employees"
                                icon="fa-id-card-o" (click)="add_new_employee_clicked(restaurant)" [disabled]=false> 
                                </button><br/>

                        <!--EDIT EMPLOYEE SCEDULE BUTTON -->
                        <button style="width:100%" pButton type="button" label="Edit Employee Schedule"
                                icon="fa-address-book-o" (click)="edit_employee_schedule_clicked(restaurant)" [disabled]=false> 
                                </button><br/>
                        
                        <!--EDIT EMPLOYEE REGION BUTTON -->
                        <!--<button style="width:100%" pButton type="button" label="Edit Employee Region"
                                icon="fa-calculator" (click)="edit_employee_region_clicked(restaurant)" [disabled]=false> 
                                </button><br/>-->

                        <!--REGISTER DELIVERER BUTTON-->
                        <button style="width:100%" pButton type="button" label="Register New Deliverer"
                                icon="fa-bicycle" (click)="register_new_deliverer_clicked(restaurant)" [disabled]=false> 
                                </button><br/>

                        <!--CREATE DELIVERY BUTTON-->
                        <button style="width:100%" pButton type="button" label="Create Delivery"
                                icon="fa-bookmark-o" (click)="create_new_delivery_clicked(restaurant)" [disabled]=false> 
                                </button><br/>

                        <!--CHECK DELIVERY NOTIFICATIONS BUTTON-->
                        <button style="width:100%" pButton type="button" label="Check Deliveries"
                                icon="fa-cart-arrow-down" (click)="check_delivery_notifications_clicked(restaurant)" [disabled]=false> 
                                </button><br/>
                        
                        <!--CHECK RESTAURANT STATISTICS-->
                        <button style="width:100%" pButton type="button" label="Check Restaurant Statistics"
                                icon="fa-info" (click)="check_restaurant_statistics_clicked(restaurant)" [disabled]=false> 
                                </button><br/>
                        
                    </p-accordionTab>
                </p-accordion>
                
                <button pButton (click)="show_location(restaurant)" label="Show Location" 
                        icon="fa-map-marker" style="width:100%">
                </button>

                <!--RESERVATION BUTTON -->
                <button style="width:100%" class="ui-button-success" pButton type="button" label="Reservation"
                        icon="fa-book" (click)="restaurantReservation(restaurant)"> 
                        </button><br/>

                <button style="width:100%" pButton class="ui-button-info" type="button" label="Ratings"
                        icon="fa-star-o" (click)="restaurantRatings(restaurant)"> 
                        </button><br/>
               
            </p-panel>
        </div>
    </template>
</p-dataGrid><br/>
</div>

<!--IMAGE UPLOAD DIALOG-->
<p-dialog   header="Upload Picture" [responsive]=true 
            [resizable]=false [draggable]=false width="500" height="500"
            [modal]=true [(visible)]="uploadingPicture">
    
    <p-panel header="Instructions">
        To upload an image, click the -choose- button and select an image you want for your restaurant.
        Once you have selected an image, click the upload buton. Once the upload is finished, your
        restaurant will have a new image representing it. If you can not see the new image, refresh the page.
    </p-panel>
    <br/>
    <p-fileUpload name="file" url="http://localhost:4400/uploadImage" (onUpload)="uploadImageBaby($event)" 
        accept="image/*" maxFileSize="1000000" (onBeforeSend)="beforeSend($event)" (onSelect)="beforeUpload($event)">
    </p-fileUpload>

</p-dialog>

<!--EDIT RESTAURANT ZONES PANEL -->
<p-panel *ngIf="editingZones">
    <p-header >

        <!--PANEL TOOLBAR WITH SAVE CANCEL BUTTONS -->
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"><h4>{{editingDialogHeader}}</h4></span>
            <button pButton type="button" label='Close' icon='fa-close' (click)="closeZonePanel()"></button>
        </div>
    </p-header>

    <p-dataTable    [value]="restaurantZones" selectionMode="single" 
                    [(selection)]="selectedZone" (onRowSelect)="zoneSelected($event)" 
                    [paginator]="true" rows="15" [responsive]="true">
        <p-header>Zones</p-header>
        <p-column field="id" header="Zone ID"></p-column>
        <p-column field="name" header="Name"></p-column>
        <p-column field="tables_for_x" header="Tables For"></p-column>
        <p-column field="number_of_tables" header="Number of Tables"></p-column>
        <p-footer *ngIf="!addingZone && !editingZone">
            <div class="ui-helper-clearfix" style="width:100%">
                <button  type="button" pButton icon="fa-plus" 
                        style="float:left" (click)="addNewZone()" 
                        label="Add Zone"></button>
            </div>
        </p-footer>
    </p-dataTable><br/>

    <!--PANEL FOR CRUD INITIATION-->
    <p-panel *ngIf="zoneCrud">
        <div class="ui-g">

            <!--ZONE NAME-->
            <div class="ui-g-4">
                <b>Zone name : </b>
            </div>
            <div class="ui-g-8">
                <p-selectButton [options]="zoneNames" [(ngModel)]="selectedZoneName"></p-selectButton>
            </div>

            <!--ZONE TABLES FOR X-->
            <div class="ui-g-4">
                <b>Tables for : </b>
            </div>
            <div class="ui-g-4">
                <!--INPUT-->
                <!--<input type="text" pInputText [(ngModel)]="tablesForX" (keyup)="enteredTablesForX()"/>-->
                <p-spinner size="30" [(ngModel)]="tablesForX" [readonly]=true [min]="2" [max]="6" [step]="2"></p-spinner>
            </div>
            <div class="ui-g-4">
            </div>

            <!--ZONE NUMBER OF TABLES-->
            <div class="ui-g-4">
                <b>Number of tables : </b>
            </div>
            <div class="ui-g-4">
                <!--INPUT-->
                <input type="text" pInputText [(ngModel)]="numberOfTables" (keyup)="enteredNumberOfTables()"/>
            </div>
            <div class="ui-g-4">
                <!--ERROR-->
                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!numberOfTablesValid">
                    <i class="fa fa-close"></i>
                    <span>Invalid input!</span>
                </div>
            </div>
        </div>

        <!--BUTTONS FOOTER-->
        <p-footer>
            <div *ngIf="addingZone" class="ui-helper-clearfix" style="width:100%">
                    <button pButton type="button" icon="fa-plus" 
                            (click)="confirmAdd()" 
                            label="Add Zone" [disabled]="!numberOfTablesValid"></button>
                    <button pButton type="button"
                            (click)="cancelCrud()" label="Cancel"></button> 
            </div>
            <div *ngIf="editingZone" class="ui-helper-clearfix" style="width:100%">
                    <button pButton type="button" icon="fa-check"
                             (click)="confirmEdit()" label="Save" [disabled]="!numberOfTablesValid || !tablesForXValid"
                            ></button>
                    <button pButton type="button" icon="fa-trash"
                            (click)="deleteZone()" label="Delete Zone"></button>
                    <button pButton type="button"
                            (click)="cancelCrud()" label="Cancel"></button> 
            </div>
        </p-footer>

    </p-panel>
</p-panel>


<!--EDITING RESTUAURANT PANEL-->
<p-panel *ngIf="editing">

    <!--PANEL HEADER-->
    <p-header [style]="{'text-align':'center'}">

        <!--PANEL TOOLBAR WITH SAVE CANCEL BUTTONS -->
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"><h4>{{editingDialogHeader}}</h4></span>
            <p-splitButton [style]="{'float':'right'}" label='Save Changes' icon='fa-check' (onClick)="saveUpdate()" [model]="splitButtonCommands"></p-splitButton>
        </div>
    </p-header>

    <!--TABS DEFINITION AND CONTENT FOR EDITING RESTAURANT-->
    <p-tabView>

        <!--BASIC RESTAURANT INFORMATION-->
            <!--name of restaurant and type of restaurant-->
        <p-tabPanel header="Basic Information">
            <div class="container-fluid">

                <!--ROW FOR NAME AND RESTAURANT TYPE-->
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <b>Name :</b> <input type="text" pInputText [(ngModel)]="editingRestaurant.name"/><br/>
                    </div>
                    <div class="col-md-6">
                        <b>Type :</b> <p-selectButton [options]="restaurantTypes" [(ngModel)]="editingRestaurant.type"></p-selectButton><br/>
                    </div>
                </div><hr/>

                <!--ROW FOR FOOD TYPES AND IMAGE -->
                <div class="row">
                    <div class= "col-md-4">
                        <b>Available Cuisines:</b>
                            <p-listbox  [options]="availableCuisines" [(ngModel)]="selectedCuisines"
                                        (onChange)="showChange()" 
                                        multiple="multiple" checkbox="checkbox"></p-listbox>
                    </div>
                    <div class="col-md-8">
                        <h4>Restaurant Location</h4>
                        <p-gmap [options]="google_map_options" [overlays]="google_maps_overlays" 
                            (onOverlayDragEnd)="handleDragEnd($event)" [style]="{'width':'100%','height':'320px'}" ></p-gmap>
                        {{editingRestaurant.lat}} - {{editingRestaurant.lng}}
                    </div>
                </div>

            </div>
        </p-tabPanel>

        <p-tabPanel header="Food and Drinks">

            <!--FOOD PICKLIST-->
            <p-pickList [source]="availableFood" [target]="selectedFood"
                        [showSourceControls]="false" [showTargetControls]="false"
                        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" 
                        [responsive]="true"
                        sourceHeader="Available Food" targetHeader="Selected Food">
                <template let-product pTemplate="item">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="http://lorempixel.com/100/100/food/?">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{product.name}}</h4>
                            <b>Price :</b> <i>{{product.price}} &#36;</i><br/>
                            <b>Description :</b> <i>{{product.description}}</i>
                        </div>
                    </div><hr/>
                </template>
            </p-pickList><br/>

            <!--DRINK PICKLIST-->
            <p-pickList [source]="availableDrinks" [target]="selectedDrinks" 
                        [showSourceControls]="false" [showTargetControls]="false" 
                        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" 
                        [responsive]="true"
                        sourceHeader="Available Drinks" targetHeader="Selected Drinks">
                <template let-product pTemplate="item">
                    <div class="media">
                        <div class="media-left">
                           <img class="media-object" src="http://lorempixel.com/100/100/food/?">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{product.name}}</h4>
                            <b>Price :</b> {{product.price}} &#36;<br/>
                            <b>Description :</b> {{product.description}}
                        </div>
                    </div><hr/>
                </template>
            </p-pickList><br/>
        </p-tabPanel>
    </p-tabView>

</p-panel>

<!--=====================================================================-->
<!--================= ADD NEW MANAGER PANEL-->
<!--=====================================================================-->
<p-panel *ngIf="creating_new_manager_open" >
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6">
                <h3 style="float: left;"> Add Managers to {{restaurant_23.name}} </h3>
            </div>
            <div class="ui-g-6">
                <button pButton icon="fa-close" label="Close" style="float: right;height : 100%" (click)="close_new_manager_panel()"></button>
            </div>
        </div>
    </p-header>
    <p>Users that are not managers will be upgraded to Manager status. Existing Managers will simply be added to the manager list.</p>
    
    <!--POSSIBLE MANAGERS PICKLIST-->
    <p-pickList id="tabela_1" [source]="possible_managers" [target]="assigned_managers" 
                        [showSourceControls]="false" [showTargetControls]="false" 
                        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" 
                        [responsive]="true"
                        sourceHeader="Possible Managers" targetHeader="Assigned Managers"
                        (onMoveToTarget)="moved_new_manager_to_target($event)"
                        (onMoveToSource)="moved_existing_manager_to_source($event)">
        <template let-user pTemplate="item">
            <div class="media">
                <!--USERS IMAGE-->
                <div class="media-left">
                    <img class="media-object" src="http://lorempixel.com/100/100/sports/?">
                </div>
                <div class="media-body">
                    <!--USERS NAME for the title-->
                    <h4 class="media-heading"><b>{{user?.username}}</b></h4>
                    <b>First Name : </b><i>{{user?.firstName}}</i><br/>
                    <b>Last Name : </b><i>{{user?.lastName}}</i><br/>
                    <b>Email : </b><i>{{user?.email}}</i>
                </div>
            </div><hr/>
        </template>
    </p-pickList>
</p-panel>


<!--=====================================================================-->
<!--================= ADD NEW EMPLOYEE PANEL-->
<!--=====================================================================-->
<!--
    Show existing employees.
    Show unregistered employees -> Basic Users
    Show registered employees
-->
<p-panel *ngIf="creating_new_employee_open" >
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6">
                <h3 style="float: left;"> Manage Employees For {{restaurant_23.name}} </h3>
            </div>
            <div class="ui-g-6">
                <button pButton icon="fa-close" label="Close" style="float: right;height : 100%" (click)="close_new_employee_panel()"></button>
            </div>
        </div>
    </p-header>

    <p>Select a user from the data table to begin registering him as an employee.<br/>
    You can also add existing employees from the pick list below.</p><br/>

    <p-dataTable [value]="free_users" selectionMode="single" 
                [(selection)]="selected_user_for_work" (onRowSelect)="selected_a_user_for_work($event)">
        <p-header>Free Users</p-header>
        <p-column field="username" header="Username"></p-column>
        <p-column field="firstName" header="First Name"></p-column>
        <p-column field="lastName" header="Last Name"></p-column>
        <p-column field="email" header="Email"></p-column>
    </p-dataTable><br/>

    <p-dialog width="500" header="Add new Employee" 
            [(visible)]="registering_new_employee"
            modal="modal" responsive="true">
        <p>
            <!--EMPLOYEE ROLE-->
                <b>Role : </b>
                <i>
                    <p-selectButton [options]="employee_roles" [(ngModel)]="registering_employee.role"></p-selectButton>
                </i><br/>
            <!--EMPLOYEE SHOE SIZE-->
                <b>Shoe Size : {{registering_employee.shoeSize}}</b>
                <!--<input type="text" pInputText [(ngModel)]="registering_employee.shoeSize" style="width:190px"/>-->
                <p-slider [(ngModel)]="registering_employee.shoeSize" [style]="{'width':'200px'}"></p-slider><br/>
            <!--EMPLOYEE SUIT SIZE-->
                <b>Suit Size : {{registering_employee.suitSize}}</b>
                <!--<input type="text" pInputText [(ngModel)]="registering_employee.suitSize" style="width:190px"/>-->
                <p-slider [(ngModel)]="registering_employee.suitSize" [style]="{'width':'200px'}"></p-slider><br/>
            <!--EMPLOYEE DATE OF BIRTH-->
                <b>Date of Birth : </b>
                <p-calendar [(ngModel)]="registering_employee_dob" [minDate]="min_employee_date_of_birth" 
                [monthNavigator]="true" [yearNavigator]="true" yearRange="1971:2030"
                [maxDate]="max_employee_date_of_birth" [readonlyInput]="true"></p-calendar><br/>
        </p> 
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="close_new_employee_dialog()" label="Submit"></button>
            </div>
        </p-footer>
    </p-dialog>
    
    <p-dataTable [value]="restaurant_workers"
                [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [responsive]="true">
        <p-header><h4>Employees Working for this Restaurant</h4></p-header>
        <p-column field="user.username" header="Username"></p-column>
        <p-column field="user.firstName" header="First Name"></p-column>
        <p-column field="user.lastName" header="Last Name"></p-column>
        <p-column field="role" header="Role"></p-column>
        <p-column field="shoeSize" header="Shoe Size"></p-column>
        <p-column field="suitSize" header="Suit Size"></p-column>
        <p-column field="user.email" header="Email"></p-column>
        <p-column styleClass="col-button">
            <template let-worker="rowData" pTemplate="body">
                <button pButton class="ui-button-danger" icon="fa-close" label="Fire this Employee"
                        (click)="fire_employee(worker)"></button>
            </template>
        </p-column>
    </p-dataTable>

</p-panel>


<!--=====================================================================-->
<!--================= EDIT EMPLOYEE SCEDULE PANEL-->
<!--=====================================================================-->
<p-panel *ngIf="creating_employee_schedule_open" >
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6">
                <h3 style="float: left;"> Configure Schedules </h3>
            </div>
            <div class="ui-g-6">
                <button pButton icon="fa-close" label="Close" style="float: right;height : 100%" (click)="close_new_employee_schedule()"></button>
            </div>
        </div>
    </p-header>

    <!--MAIN CONTENT DIV-->
    <div class="ui-g">
        
        <!--DIV CONTAINING LISTBOX-->
        <div class="ui-g-4">
            <p-listbox [options]="employee_usernames_schedule" [(ngModel)]="schedule_employee" 
                       filter="filter" (onChange)="schedule_selected($event)"></p-listbox>
        </div>

        <!--DIV CONTAINING DATA-->
        <div class="ui-g-8">
            <p-dataTable [value]="all_schedules_for_employee" rows="20" 
                        [paginator]="true" [pageLinks]="5" 
                        [rowsPerPageOptions]="[5,10,20]">
                <p-header>Schedules</p-header>
                    <p-column field="from" header="From (h)"></p-column>
                    <p-column field="to" header="To (h)"></p-column>
                    <p-column field="date" header="On Date"></p-column>
                    <p-column field="table_id" header="On Table"></p-column>
                    <p-column styleClass="col-button">
                        <template let-schedz="rowData" pTemplate="body">
                            <button pButton class="ui-button-danger" icon="fa-close" label="Remove Shedule"
                                    (click)="remove_schedule(schedz)"></button>
                        </template>
                    </p-column>
            </p-dataTable><br/>
            <button *ngIf="schedule_employee != undefined" type="button" pButton label="Add New" (click)="add_new_schedule_clicked()"></button>
        </div>
    </div>

    <p-dialog width="500" header="Add new Schedule" 
            [(visible)]="adding_new_shedule"
            modal="modal" responsive="true">
        

            <div class="ui-g">
                <div class="ui-g-12">
                    <p>Schedule start time is 1 hour before the end time. If your shcedule end time is before the start time,
                        the end time will be set to the next day. (eg. start time (23:30), end time (00:30) - end time is for the next day at 00:30).
                    </p>
                </div>
                <!--TIME START-->
                <div class="ui-g-6">
                    <b>Time Start : </b>
                </div>
                <div class="ui-g-6">
                    <p-calendar [(ngModel)]="schedz_time_start" (onSelect)="changed_shedz_start()" [timeOnly]="true"></p-calendar>
                </div>
                <!--TIME END-->
                <div class="ui-g-6">
                    <b>Time End : </b>
                </div>
                <div class="ui-g-6">
                    <p-calendar [(ngModel)]="schedz_time_end" (onSelect)="changed_shedz_end()" 
                                [minDate]="min_time_end" [timeOnly]="true"></p-calendar>
                </div>
                <!--DATE-->
                <div class="ui-g-6">
                    <b>Day : </b>
                </div>
                <div class="ui-g-6">
                    <p-calendar [(ngModel)]="new_schedz_day" [minDate]="min_schedz_day" [maxDate]="max_schedz_day" 
                                [readonlyInput]="true"></p-calendar><br/><br/><br/><br/>
                </div>
                <div class="ui-g-4">Select table:</div>
                <div class="ui-g-8">
                    <p-listbox [options]="available_tables_for_schedz" [(ngModel)]="chosen_table_id"></p-listbox>
                </div>
            </div>


        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="close_new_schedule_dialog()" label="Submit"></button>
            </div>
        </p-footer>
    </p-dialog>
</p-panel>


<!--=====================================================================-->
<!--================= EDIT EMPLOYEE REGION PANEL-->
<!--=====================================================================-->
<!--
<p-panel *ngIf="creating_employee_region_open" >
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6">
                <h3 style="float: left;"> Configure Employee Tables </h3>
            </div>
            <div class="ui-g-6">
                <button pButton icon="fa-close" label="Close" style="float: right;height : 100%" (click)="close_edit_employee_region()"></button>
            </div>
        </div>
    </p-header>
    
    <p-dataTable [value]="selected_restaurant_tables"
                [rows]="10" [paginator]="true" [pageLinks]="6" 
                [rowsPerPageOptions]="[5,10,15]">
        <p-column field="id" header="Table ID"></p-column>
        <p-column field="maxPeople" header="Seats"></p-column>
        <p-column field="restaurant_zone_id.id" header="Zone ID"></p-column>
        <p-column field="restaurant_zone_id.name" header="Zone Name"></p-column>
        <p-column styleClass="col-button">
            <template pTemplate="header">
                Employee Serving
            </template>
            <template let-table="rowData" pTemplate="body">
                <button type="button" label="Check Employee" style="width:100%;padding:2px;" pButton (click)="view_table_serving(table)" icon="fa-search"></button>
                <button type="button" label="Change Server" style="width:100%;padding:2px;" pButton (click)="change_table_serving(table)" icon="fa-edit"></button>
            </template>
        </p-column>
    </p-dataTable>

    <p-dialog header="Employee Info" modal="modal" 
              width="400" responsive="true" 
              [(visible)]="checking_table_server">
        <div class="ui-g">
            <div class="ui-g-5"><b> Name :  </b></div><div class="ui-g-7"><i>  {{employee_serving_data?.user.firstName}} </i></div>
            <div class="ui-g-5"><b> Surname :  </b></div><div class="ui-g-7"><i>  {{employee_serving_data?.user.lastName}} </i></div>
            <div class="ui-g-5"><b> ID : </b></div><div class="ui-g-7"><i>  {{employee_serving_data?.id}} </i></div>
            <div class="ui-g-5"><b> Username :  </b></div><div class="ui-g-7"><i>  {{employee_serving_data?.user.username}} </i></div>
            <div class="ui-g-5"><b> Email </b></div><div class="ui-g-7"><i>  {{employee_serving_data?.user.email}} </i></div>
            <div class="ui-g-5"><b> Shoe Size : </b></div><div class="ui-g-7"><i>  {{employee_serving_data?.shoeSize}} </i></div>
            <div class="ui-g-5"><b> Suit Size :  </b></div><div class="ui-g-7"><i>  {{employee_serving_data?.suitSize}} </i></div>
        </div>
    </p-dialog>

    <p-dialog header="Assign Different Waiter to this Table" modal="modal"
              width="400" responsive="true"
              [(visible)]="changing_table_server">
            <p-listbox [options]="all_servers_select_item" [(ngModel)]="selected_server_id"></p-listbox>
        <p-footer>
            <button type="button" pButton icon="fa-check" label="Save" (click)="changed_table_server()" style="width:100%;"></button>
        </p-footer>
    </p-dialog>

</p-panel>
-->

<!--=====================================================================-->
<!--================= REGISTER DELIVERER PANEL-->
<!--=====================================================================-->
<p-panel *ngIf="creating_new_deliverer_open" >
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6">
                <h3 style="float: left;"> Register New Deliverer </h3>
            </div>
            <div class="ui-g-6">
                <button pButton icon="fa-close" label="Close" style="float: right;height : 100%" (click)="close_register_new_deliverer()"></button>
            </div>
        </div>
    </p-header>

    <!--ALL IDLE USERS DATA TABLE-->
    <p-dataTable [value]="idle_users_for_deliverer">
        <p-column field="firstName" header="First Name"></p-column>
        <p-column field="lastName" header="Last Name"></p-column>
        <p-column field="username" header="Username"></p-column>
        <p-column field="email" header="Email"></p-column>
        <p-column styleClass="col-button">
            <template let-user="rowData" pTemplate="body">
                <button type="button" label="Upgrade To Deliverer" pButton (click)="upgrade_to_deliverer(user)" icon="fa-bicycle"></button>
            </template>
        </p-column>
    </p-dataTable>

</p-panel>


<!--=====================================================================-->
<!--================= CREATE DELIVERY PANEL-->
<!--=====================================================================-->
<p-panel *ngIf="creating_new_delivery_open" >
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6">
                <h3 style="float: left;"> Create New Delivery Order </h3>
            </div>
            <div class="ui-g-6">
                <button pButton icon="fa-close" label="Close" style="float: right;height : 100%" (click)="close_create_new_delivery()"></button>
            </div>
        </div>
    </p-header>
    <div class="ui-g">
        <!--SPECIFY ONE ITEM AND ADD TO LIST-->
        <div class="ui-g-6">
            <div class="ui-g">
                <div class="ui-g-6">
                    <b>Item name : </b>
                </div>
                <div class="ui-g-6">
                    <i><input type="text" pInputText [(ngModel)]="order_item_input_name"></i>
                </div>
                <div class="ui-g-6">
                    <b>Amount : </b>
                </div>
                <div class="ui-g-6">
                    <i><input type="text" pInputText [(ngModel)]="order_item_input_amount" 
                    pTooltip="Must be greater than 0." (keyup)="item_amount_changed()"
                    tooltipPosition="top"></i>
                </div>
                <div class="ui-g-12">
                    <button type="button" pButton (click)="add_item_to_order_list()" 
                    label="Add Item" icon="fa-check" style="width:100%;" [disabled]="!order_amount_greater_than_zero"></button>
                </div>
            </div>
        </div>
        <!--THE ENTIRE ORDER LIST-->
        <div class="ui-g-6">
            <p-dataTable header="Items" [value]="order_with_items">
                <p-column field="item_name" header="Name"></p-column>
                <p-column field="item_amount" header="Amount"></p-column>
                <p-column styleClass="col-button">
                    <template pTemplate="header">
                        Remove
                    </template>
                    <template let-item="rowData" pTemplate="body">
                        <button type="button" pButton (click)="remove_item(item)" 
                                icon="fa-close" style="width:100%;"></button>
                    </template>
                </p-column>
                <p-footer>
                    Date From:
                    <p-calendar [(ngModel)]="order_date_from" (onSelect)="check_order_dates()" [readonlyInput]="true"></p-calendar>
                    Date To :
                    <p-calendar [(ngModel)]="order_date_to" [minDate]="min_order_date" [readonlyInput]="true"></p-calendar>
                    <br/>
                    <button type="button" pButton (click)="send_order()" label="Send Order" 
                            [disabled]="(order_with_items.length == 0) || order_date_to==null" 
                            icon="fa-check" style="width:100%;"></button>
                </p-footer>
            </p-dataTable>
        </div>
    </div>


</p-panel>


<!--=====================================================================-->
<!--================= CHECK DELIVERY NOTIFICATIONS PANEL-->
<!--=====================================================================-->
<p-panel *ngIf="checking_delivery_notifications_open" >
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6">
                <h3 style="float: left;"> Your Orders </h3>
            </div>
            <div class="ui-g-6">
                <button pButton icon="fa-close" label="Close" style="float: right;height : 100%" (click)="close_check_delivery_notifications()"></button>
            </div>
        </div>
    </p-header>
    
    <div class="ui-g">
        <!--ALL ORDERS DIV-->
        <div class="ui-g-6">
            <p-dataTable id="order_table" [value]="order_presentation" sortField="belongs_to_order"
                         rowGroupMode="subheader" groupField="belongs_to_order" expandableRowGroups="true"
                         [sortableRowGroup]="false" selectionMode="single">
                <p-header>All Orders</p-header>
                <template pTemplate="rowgroupheader" let-rowData>
                    <b>Order : </b><i>{{rowData['belongs_to_order']}}</i>, <b>Time Period :  </b><i>[{{rowData['from']}} - {{rowData['to']}}]</i>
                </template>
                <p-column field="item_name" header="Item Name"></p-column>
                <p-column field="item_amount" header="Amount"></p-column>
                <template pTemplate="rowgroupfooter" let-data>
                    <td colspan="2">
                        <button pButton type="button" label="Check Bids"
                                icon="fa-search" (click)="check_bids(data['belongs_to_order'])"
                                style="width:100%;"></button>
                    </td>
                </template>
            </p-dataTable>
        </div>
        <!--ORDER BIDS DIV-->
        <div class="ui-g-6">
            <p-dataTable [value]="order_bids" >
                <p-header>Order Bids</p-header>
                <p-column field="id" header="ID"></p-column>
                <p-column field="bidding_price" header="Price ($)"></p-column>
                <p-column field="made_for_order.id" header="For Order"></p-column>
                <p-column styleClass="col-button">
                    <template let-bid="rowData" pTemplate="body">
                        <button type="button" pButton (click)="accept_bid(bid)" 
                                icon="fa-check" label="Accept This Bid"></button>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
    </div>

</p-panel>

<!--=====================================================================-->
<!--================= CHECK RESTAURANT SPECIFICATIONS PANEL-->
<!--=====================================================================-->
<p-panel *ngIf="checking_restaurant_statistics" >
    <p-header>
        <div class="ui-g">
            <div class="ui-g-6">
                <h3 style="float: left;"> Restaurant Statistics </h3>
            </div>
            <div class="ui-g-6">
                <button pButton icon="fa-close" label="Close" style="float: right;height : 100%" (click)="close_check_restaurant_statistics()"></button>
            </div>
        </div>
    </p-header>

    <!--ALL STATISTIC TABS-->
    <p-tabView (onChange)="statistic_tab_change($event)">
        
        <!--RESTAURANT REVIEWS-->
        <p-tabPanel header="Restaurant Reveiews">
            <h3><b>AVERAGE GRADE : </b><i>{{restaurant_avg_grade.toFixed(1)}}</i></h3>
            
            <p-dataTable [value]="all_restaurant_reviews" [rows]="10" 
                         [paginator]="true" [pageLinks]="3" 
                         [rowsPerPageOptions]="[5,10,20]">
                <p-header><h5>Restaurant Reviews</h5></p-header>
                <p-column field="id" header="ID"></p-column>
                <p-column field="grade" header="Grade / x"></p-column>
                <p-column field="short_description" header="Comment"></p-column>
            </p-dataTable>
        </p-tabPanel>

        <!--FOOD REVIEWS-->
        <p-tabPanel header="Food Reviews">
            <div class="ui-g">
                <!--List of food items-->
                <div class="ui-g-4">
                    <p-listbox [options]="restaurant_food_list_items" 
                                [(ngModel)]="selected_23_food_item"
                                (onChange)="selected_food_list_item($event)"
                                filter="filter"></p-listbox>
                </div>
                <div class="ui-g-8">
                    <p-dataTable [value]="food_item_reviews" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                        <p-header>Reviews For Selected Food Item</p-header>
                        <p-column field="id" header="ID"></p-column>
                        <p-column field="grade" header="Grade / x"></p-column>
                        <p-column field="short_description" header="Comment"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </p-tabPanel>

        <!--WAITER REVIEWS-->
        <p-tabPanel header="Waiter Reviews">
            <div class="ui-g">
                <!--List of waiters-->
                <div class="ui-g-4">
                    <p-listbox [options]="restaurant_23_waiters" 
                                [(ngModel)]="selected_23_waiter"
                                (onChange)="selected_23_waiter_changed($event)"
                                filter="filter"></p-listbox>
                </div>
                <div class="ui-g-8">
                    <p-dataTable [value]="selected_waiter_23_reviews" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                        <p-header>Reviews For Selected Employee</p-header>
                        <p-column field="id" header="ID"></p-column>
                        <p-column field="grade" header="Grade / x"></p-column>
                        <p-column field="short_description" header="Comment"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </p-tabPanel>

        <!--ATTENDANCE-->
        <p-tabPanel header="Restaurant Attendance">
            
            <!--PER WEEK IN YEAR-->
            <b>Select year for weekly stats : </b><i><p-spinner size="30" [(ngModel)]="start_year" (onChange)="year_weeks_changed()" [readonly]=true></p-spinner></i><br/>
            <p-chart id="week_chart" *ngIf="attendance_weeks != null" type="bar" [data]="attendance_weeks"></p-chart><br/>
            
            <!--PER DAY FROM TO-->
            <div class="ui-g">
                <div class="ui-g-12"><h4>Attendance per Day</h4></div>
                <div class="ui-g-6">
                    <b>From date : </b>
                    <i><p-calendar [(ngModel)]="date_day_from" 
                                                [readonlyInput]="true" 
                                                (onSelect)="selected_day_from()"></p-calendar></i>
                </div>
                <div class="ui-g-6">
                    <b>To date : </b>
                    <p-calendar [(ngModel)]="date_day_to" [minDate]="min_day_to" 
                                                [readonlyInput]="true" 
                                                (onSelect)="selected_day_to()" [disabled]="date_day_from == null">
                    </p-calendar>
                </div>
            </div>
            <p-chart *ngIf="attendance_days != null" type="bar" [data]="attendance_days"></p-chart>
        
        </p-tabPanel>

        <!--RESTAURANT CASH-->
        <p-tabPanel header="Restaurant Revinue">
            <div class="ui-g">
                <div class="ui-g-12"><h4>Revinue per Day</h4></div>
                <div class="ui-g-6">
                    <b>From date : </b>
                    <i><p-calendar [(ngModel)]="date_day_from_revinue" 
                                                [readonlyInput]="true" 
                                                (onSelect)="selected_day_from_revinue()"></p-calendar></i>
                </div>
                <div class="ui-g-6">
                    <b>To date : </b>
                    <p-calendar [(ngModel)]="date_day_to_revinue" [minDate]="min_day_to_revinue" 
                                                [readonlyInput]="true" 
                                                (onSelect)="selected_day_to_revinue()" [disabled]="date_day_from_revinue == null">
                    </p-calendar>
                </div>
            </div>
            <p-chart *ngIf="revinue_chart != null" type="bar" [data]="revinue_chart"></p-chart>
        </p-tabPanel>

        <!--REVINUE BY WAITER-->
        <p-tabPanel header="Waiter Revinues">
            <div class="ui-g">
                <div class="ui-g-4">
                    <p-listbox [options]="restaurant_23_waiters" 
                                [(ngModel)]="selected_23_waiter_revinue"
                                (onChange)="selected_23_waiter_changed_revinue($event)"
                                filter="filter"></p-listbox>
                </div>
                <div class="ui-g-8">
                    <p-dataTable [value]="this_waiters_revinues" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                        <p-header>Waiter Revinues</p-header>
                        <p-column field="bill_id" header="Bill ID"></p-column>
                        <p-column field="on_date" header="Date of Transaction"></p-column>
                        <p-column field="money" header="($)"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </p-tabPanel>
</p-tabView>

</p-panel>