div.tableForSix {
    width: 123px; 
    height: 75px; 
    border: 4px solid black; 
    background-color: gray; 
    background-image: url(../../assets/pictures/restaurant_pictures/tableForSix.png);
    margin: 5px;
    cursor: pointer;
}

div.tableForFour {
    width: 80px; 
    height: 75px; 
    border: 4px solid black;
    background-color: gray; 
     background-image: url(../../assets/pictures/restaurant_pictures/tableForFour.png);
    margin: 5px;
    cursor: pointer;
}

div.tableForTwo {
    width: 70px; 
    height: 75px; 
    border: 4px solid black; 
    background-color: gray; 
     background-image: url(../../assets/pictures/restaurant_pictures/tableForTwo.png);
    margin: 5px;
    cursor: pointer;
}