<!--DATA GRID OF ALL RESTAURANTS-->
<!--Shown if the user is not editing a restaurant-->
<!--8 Items per page-->
<p-dataGrid *ngIf="!editing" [value]="restaurants" [paginator]="true" [rows]="8">
    
    <!--Datagrid header-->
    <header>
        List of Restaurants
    </header>
    
    <!--Datagrid data template-->
    <template let-restaurant pTemplate="item">

        <!--Style of one cell in the datagrid-->
        <div style="padding:3px" class="ui-g-12 ui-md-3">
            <p-panel [header]="restaurant.name" [style]="{'text-align':'center'}">
                <img [src]="restaurant.image" (error)="restaurant.image = '/assets/pictures/no_image_found.jpg'" width="150" height="150">
                <div class="restaurant-detail">Restaurant Type : {{restaurant.type}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <i class="fa fa-edit" (click)="editRestaurant(restaurant)" style="cursor:pointer"></i>
            </p-panel>
        </div>
    </template>
</p-dataGrid><br/>

<!--EDITING RESTUAURANT PANEL-->
<p-panel *ngIf="editing">

    <!--PANEL HEADER-->
    <p-header [style]="{'text-align':'center'}">

        <!--PANEL TOOLBAR WITH SAVE CANCEL BUTTONS -->
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"><h4>{{editingDialogHeader}}</h4></span>
            <p-splitButton [style]="{'float':'right'}" label='Save Changes' icon='fa-check' (onClick)="saveUpdate()" [model]="splitButtonCommands"></p-splitButton>
        </div>
    </p-header>

    <!--TABS DEFINITION AND CONTENT FOR EDITING RESTAURANT-->
    <p-tabView>

        <!--BASIC RESTAURANT INFORMATION-->
            <!--name of restaurant and type of restaurant-->
        <p-tabPanel header="Basic Information">
            <div class="container-fluid">

                <!--ROW FOR NAME AND RESTAURANT TYPE-->
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <b>Name :</b> <input type="text" pInputText [(ngModel)]="editingRestaurant.name"/><br/>
                    </div>
                    <div class="col-md-6">
                        <b>Type :</b> <p-selectButton [options]="restaurantTypes" [(ngModel)]="editingRestaurant.type"></p-selectButton><br/>
                    </div>
                </div><hr/>

                <!--ROW FOR FOOD TYPES AND IMAGE -->
                <div class="row">
                    <div class= col-md-6>
                        <b>Available Cuisines:</b>
                            <p-listbox  [options]="availableCuisines" [(ngModel)]="selectedCuisines"
                                        (onChange)="showChange()" 
                                        multiple="multiple" checkbox="checkbox"></p-listbox>
                    </div>
                    <div class= col-md-6>
                        <b>Restaurant picture:</b><br/>
                        <img [src]="editingRestaurant.image" (error)="editingRestaurant.image = '/assets/pictures/no_image_found.jpg'" alt="..." height="150" width="150"/><br/>
                        <b>Upload new:</b><br/>
                        <!-- url="http://localhost:4400/restaurantPictureUpload"-->
                        <i>Work in progress....</i>
                    </div>
                </div>

            </div>
        </p-tabPanel>

        <!--PRODUCT INFORMATION-->
            <!--List of all available food and drink items that the restaurant can serve-->
            <!--And a list of currently selected food and drink items-->
        <p-tabPanel header="Food and Drinks">

            <!--FOOD PICKLIST-->
            <p-pickList [source]="availableFood" [target]="selectedFood"
                        [showSourceControls]="false" [showTargetControls]="false"
                        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" 
                        [responsive]="true"
                        sourceHeader="Available Food" targetHeader="Selected Food">
                <template let-product pTemplate="item">
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="http://lorempixel.com/100/100/food/?">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{product.name}}</h4>
                            <b>Price :</b> <i>{{product.price}} &#36;</i><br/>
                            <b>Description :</b> <i>{{product.description}}</i>
                        </div>
                    </div><hr/>
                </template>
            </p-pickList><br/>

            <!--DRINK PICKLIST-->
            <p-pickList [source]="availableDrinks" [target]="selectedDrinks" 
                        [showSourceControls]="false" [showTargetControls]="false" 
                        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" 
                        [responsive]="true"
                        sourceHeader="Available Drinks" targetHeader="Selected Drinks">
                <template let-product pTemplate="item">
                    <div class="media">
                        <div class="media-left">
                           <img class="media-object" src="http://lorempixel.com/100/100/food/?">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{product.name}}</h4>
                            <b>Price :</b> {{product.price}} &#36;<br/>
                            <b>Description :</b> {{product.description}}
                        </div>
                    </div><hr/>
                </template>
            </p-pickList><br/>
        </p-tabPanel>

        <!--SEATING ARRANGEMENTS-->
            <!--Data table of the restaurants seating arrangements-->
            <!--Zone name, tables for x, number of tables-->
            <!--As well as the controls for adding, removing, or editing the configuration-->
        <p-tabPanel header="Seating Arrangements">

            <!--DATA TABLE To show all zones of this restaurant-->
            <p-dataTable    [value]="editingRestaurant.zones" selectionMode="single" 
                            [paginator]="true" rows="10" [responsive]="true"
                            (onRowSelect)="editZone($event)">
                <p-column field="zone_id.name" header="Zone Name" [sortable]="false"></p-column>
                <p-column field="tableForX" header="Table For" [sortable]="false"></p-column>
                <p-column field="amountOfTables" header="Amount Of tables" [sortable]="false"></p-column>
                <p-footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                        <button type="button" pButton icon="fa-plus" 
                                style="float:left" (click)="newZoneDialog()" 
                                label="Add New Zone">
                        </button>
                    </div>
                </p-footer>
            </p-dataTable>

            <!--DIALOG for adding new zone / editing existing zone ,'min-width':'500px'-->
            <p-dialog   header="Zone Details" [(visible)]="zoneDialogVisible" [responsive]="false"
                        showEffect="fade" [modal]="true">
                    
                <div class="ui-g">
                    <!--SELECT for the zone name-->
                    <div class="ui-g-6">
                        <label for=""><b>Zone Name : </b></label>
                    </div>
                    <div class="ui-g-6">
                        <p-dropdown [style]="{'width':'150px'}" [options]="zoneNames" [(ngModel)]="newZone.zone_id"></p-dropdown>
                    </div>

                    <!--INPUT for table for X -->
                    <div class="ui-g-6">
                        <label for=""><b>Table for : </b></label>
                    </div>
                    <div class="ui-g-6">
                        <input type="text" pInputText [(ngModel)]="newZone.tableForX"/>
                    </div>

                    <!--INPUT for amount of tables -->
                    <div class="ui-g-6">
                        <label for=""><b>Amount of tables : </b></label>
                    </div>
                    <div class="ui-g-6">
                        <input type="text" pInputText [(ngModel)]="newZone.amountOfTables"/>
                    </div>
                    <br/><br/><br/>

                    The new zone looks like : <br/>
                    id : {{newZone.id}}<br/>
                    name : {{newZone.zone_id.name}}<br/>
                    name_id : {{newZone.zone_id.id}}<br/>
                    tableForX : {{newZone.tableForX}}<br/>
                    amountOfTables : {{newZone.amountOfTables}}<br/>
                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button *ngIf="addingNewZone" type="button" pButton icon="fa-check" label="Add" (click)="addZone()"></button>
                        <button *ngIf="!addingNewZone" type="button" pButton icon="fa-check" label="Save" (click)="saveZone()"></button>
                        <button *ngIf="!addingNewZone" type="button" pButton icon="fa-close" label="Delete" (click)="deleteZone()"></button>
                    </div>
                </p-footer>
            </p-dialog>
        </p-tabPanel>

    </p-tabView>

</p-panel>