<div class="jumbotron">
  <h2 class="font">Welcome! Food is just few clicks away..</h2>
  <p>  </p>
  <p><font class="font" size="5">SoulFoodApp is the simplest way to:</font></p>
  <p><font class="font" size="4"> - Search for any restaurant you like </font></p>
  <p><font class="font" size="4"> - Order your food really quick </font></p>
  <p><font class="font" size="4"> - Connect with your friends and share reviews </font></p>
  <p><font class="font" size="4"> - Get many discounts and presents </font></p>
  <p><a class="btn btn-success btn-lg" routerLink="restaurants" role="button">Give me food!</a></p>
</div>

<button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
<h4 *ngIf="auth.authenticated()">You are logged in.</h4>
<h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
<h4> {{sharedService.message}} </h4>
