<div class="jumbotron">
  <h2>Welcome! Food is just few clicks away..</h2>
  <p>  </p>
  <p>SoulFoodApp is the simplest way to:</p>
  <p><font size="4"> - Search for any restaurant you like </font></p>
  <p><font size="4"> - Order your food really quick </font></p>
  <p><font size="4"> - Connect with your friends and share reviews </font></p>
  <p><font size="4"> - Get many discounts and presents </font></p>
  <p><a class="btn btn-success btn-lg" routerLink="restaurants" role="button">Give me food!</a></p>
  <p>test</p>
</div>
