<div class="row">
  <!-- left column (click)="showScheduleDialog()"-->
  <div class="col-md-4 col-sm-6 col-xs-12">
    
    <h1> Welcome back </h1>

 
    <p>First name:{{userUpdate.firstName}} </p>
    <p>Last name:{{userUpdate.lastName}} </p>
    <p>Username:{{userUpdate.username}} </p>
    
  
      
      <p>
        <input class ="btn btn-primary" value="Schedule"   type="button" (click)="showScheduleDialog()" >
         
      </p>
  
 <p>
          <input class="btn btn-primary" value="Orders" type="button">
 </p>
    
  </div>

<p-panel *ngIf="displaySchedule">
  <h1>Your Schedule</h1>
   <form [formGroup]="formReservation" class="form-horizontal">
     <div class="form-group" style="float: left">
    <p> Please pick date then press schedule button </p>
   <p><p-calendar [(ngModel)]="reservation.Date" formControlName="Date" inputStyleClass="form-control" [monthNavigator]="true" [yearNavigator]="true" yearRange="2017:2018" [inline]="true"  ></p-calendar></p>
     </div>
      <p>
          <input class="btn btn-primary" value="Schedule" (click)="displaySchedulee()" type="button">
      </p>
   </form>
</p-panel>




<p-dialog header="Schedule" [responsive]=true [resizable]=false [draggable]=false width="500" [modal]=true [(visible)]="displayScheduleeButton">
<div class="ui-g-8">
            <p-dataTable [value]="all_schedules_for_employee" rows="20" 
                        [paginator]="true" [pageLinks]="5" 
                        [rowsPerPageOptions]="[5,10,20]">
                <p-header>Schedules</p-header>
                     <p-column field="first_name" header="First Name " item-width="50"></p-column>
                    <p-column field="last_name" header="Last Name "></p-column>
                    <p-column field="from" header="From (h)"></p-column>
                    <p-column field="to" header="To (h)"></p-column>
                    <p-column field="date" header="On Date"></p-column>
            </p-dataTable><br/>
        </div>
</p-dialog>



  <!-- edit form column -->
  <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
    <h3>Personal info</h3>
    <form class="form-horizontal" [formGroup]="formEditUser">
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" [(ngModel)]="userUpdate.firstName" formControlName="firstName" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" [(ngModel)]="userUpdate.lastName" formControlName="lastName" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Username:</label>
        <div class="col-md-8">
          <input class="form-control" [(ngModel)]="userUpdate.username" formControlName="username" type="text">
        </div>
      </div>
       <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
          <button pButton [disabled]="!formEditUser.valid" class="ui-button-success" type="text" (click)="updateUser()" icon="fa-check" label="Save changes"></button>
        </div>
      </div>
    </form>
  </div>
</div>
